.pagination {
  display: flex;
  flex-direction: row;
  gap: 11px;
  padding: 5px;
  align-items: center;

  .next,
  .prev {
    padding: 0;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;

    path {
      fill: var(--color-black);
    }
  }

  .pages {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: max-content;
  }

  .page {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none;
    border: 1px solid var(--color-light-gray);
    transition: width 0.3s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    text-decoration: none;

    &.no-border {
      border: none;
      border-radius: 50%;
      width: auto;
      min-width: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &.number.active {
        min-width: 28px;
        width: auto;
      }
    }

    &.active {
      width: 40px;
      border: none;
      border-radius: 16px;
      background-color: var(--color-black);
      color: var(--color-white);
    }

    &.number.active {
      width: 28px;
    }
  }

  .dots {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-gray);
    user-select: none;
  }
}
