package.json
package-lock.json
build
dist
coverage
docs
logs
.vscode
.vagrant
.gitignore
node_modules
/service
/debian
.yml
.yaml
buildconfig.sh
.env*
.prettierignore
Vagrantfile
dist
/plop-templates/**/*
README.md