@use '../../styles/utilities/mixins';

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: var(--spacing-xl);
  gap: var(--spacing-2xl);
  width: 100%;

  &.dark {
    background: var(--color-gradient-black);

    .content {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);

      h3 {
        color: var(--color-white);
      }

      .subtitle {
        color: var(--color-light-gray-2);
      }
    }
  }

  &.light {
    background: var(--color-white);
    border: 1px solid var(--color-light-gray-2);

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: var(--spacing-xl);

      h3 {
        color: var(--color-black);
      }

      .subtitle {
        color: var(--color-gray);

        strong,
        b {
          font-weight: var(--font-weight-medium);
          color: var(--color-black);
        }
      }
    }
  }

  .logoContainer {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  .logoHover {
    display: none;
    width: 40px;
    height: 40px;
  }

  &:hover {
    .hideLogo {
      display: none;
    }

    .logoHover {
      display: block;
    }
  }

  .subtitle {
    table {
      width: 100%;

      tr {
        display: flex;
        justify-content: space-between;
        gap: var(--spacing-sm);

        @include mixins.respond(xs) {
          flex-direction: column;
        }
      }

      a {
        text-decoration: none;
      }
    }

    a {
      text-decoration: underline;
    }
  }

  &.dark {
    .subtitle {
      color: var(--color-light-gray-2);

      a,
      strong {
        color: var(--color-white);
      }
    }
  }

  &.light {
    .subtitle {
      color: var(--color-gray);

      a,
      strong {
        color: var(--color-black);
      }
    }
  }

  @include mixins.respond(md) {
    &.light {
      padding: var(--spacing-md);
    }
  }
}

a:hover.card {
  text-decoration: none;
}
