@use './../../styles/base/typography' as *;
@use '../../styles/utilities/mixins';

.internalBrandsTab {
  padding-bottom: var(--spacing-xl);

  @include mixins.respond(md) {
    padding-bottom: 0.75rem;
  }
  .textsContainer {
    max-width: 67.5rem;
    margin-bottom: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    height: 100%;

    .title {
      color: var(--color-black);
    }

    .subTitle {
      margin-top: var(--spacing-sm);

      > * {
        @extend .subheading;
      }
    }
  }

  .tabWrapper {
    margin-top: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tabButtonsRow {
    display: flex;
    gap: 0;
  }

  .contentArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--color-white);
    border: 1px solid var(--color-light-gray-2);
    border-top: none;
    border-radius: 0 0 var(--spacing-md) var(--spacing-md);
    padding: var(--spacing-md);
    box-shadow: 0px 0px 0.625rem 0px #36363623;

    .topContent {
      padding: var(--spacing-xl);
      display: flex;

      .topContentTitle {
        @extend .subheading;
        padding-bottom: var(--spacing-md);
      }

      .topContentLongText {
        p {
          @extend .subheading;
          color: var(--color-black);

          padding-bottom: var(--spacing-xl);
          letter-spacing: -1%;
        }
      }

      .topContentCta {
        margin-bottom: var(--spacing-xl);
      }

      .topContentRightSide {
        width: 19.8125rem;
        margin-left: var(--spacing-xl);
        color: var(--color-black);
      }
    }

    .bottomContent {
      padding: var(--spacing-xl);
      display: flex;

      .bottomContentLeftSide {
        border-top: 1px solid var(--color-light-gray-2);
        width: 55.6875rem;

        .bottomContentTitle {
          @extend .body;
          padding: var(--spacing-xl) 0 var(--spacing-md) 0;
        }

        bottomContentTextList {
          @extend .body;
          margin-top: var(--spacing-lg);
        }

        .bottomContentTextList ol {
          list-style: none;
          padding: 0;
          margin: 0;

          column-count: 1;
          column-gap: var(--spacing-2xl);

          counter-reset: item;
        }

        /* ✅ ONLY switch to 2 columns if 4+ items */
        .bottomContentTextList ol:has(li:nth-child(4)) {
          column-count: 2;
        }

        .bottomContentTextList li {
          counter-increment: item;

          display: flex;
          align-items: center;
          gap: 1.8125rem;

          color: var(--color-black);

          break-inside: avoid;
          margin-bottom: var(--spacing-lg);
        }

        .bottomContentTextList li::before {
          content: counter(item);

          display: inline-flex;
          align-items: center;
          justify-content: center;

          min-width: 1.875rem;
          height: 1.875rem;

          background: #6b6b6b;
          color: var(--color-white);
          border-radius: 50%;
        }

        .bottomContentTextList ol:has(li:nth-child(4)) li:nth-child(3) {
          break-after: column;
        }
      }

      .bottomContentRightSide {
        padding: var(--spacing-xl) 0px var(--spacing-2xl) var(--spacing-xl);
        border-top: 1px solid var(--color-light-gray-2);
        border-left: 1px solid var(--color-light-gray-2);
        width: 19.8125rem;
        flex-shrink: 0;

        .bottomContentIcon {
          width: 1.875rem;
          height: 1.875rem;
          margin-bottom: var(--spacing-xl);
        }

        .bottomContentQuote {
          @extend .body;
          color: var(--color-black);
        }
      }
    }
  }

  // styles for Accordion version (mobile)
  .accordionTopContent {
    .topContentTitle {
      @extend .subheading;
      padding: var(--spacing-md);
      padding-bottom: 0px;
    }

    .topContentLongText {
      padding: var(--spacing-md);
      color: var(--color-black);
    }

    .topContentCtaContainer {
      margin: var(--spacing-md) var(--spacing-md) var(--spacing-xl) var(--spacing-md);
    }

    .topContentCta {
      width: 100%;
      min-height: var(--spacing-3xl);
      padding: 0.75rem;
    }

    .topContentRightSide {
      color: var(--color-black);
      padding-bottom: var(--spacing-xl);
      width: 100%;
    }
  }

  .accordionBottomContent {
    .bottomContentLeftSide {
      flex: 1;

      .bottomContentTitle {
        @extend .body;
        padding: var(--spacing-xl) 0 0 var(--spacing-md);
        border-top: 1px solid var(--color-light-gray-2);
      }

      .bottomContentTextList {
        @extend .body;
        margin: var(--spacing-lg) var(--spacing-md);
      }

      .bottomContentTextList ol {
        list-style: none;
        padding: 0;
        margin: 0;

        column-count: 1;
        column-gap: var(--spacing-2xl);

        counter-reset: item;
      }

      .bottomContentTextList li {
        font-weight: var(--font-weight-regular);
        counter-increment: item;

        display: flex;
        align-items: center;
        gap: 1.8125rem;

        color: var(--color-black);

        break-inside: avoid;
        margin-bottom: var(--spacing-lg);
      }

      .bottomContentTextList li::before {
        content: counter(item);

        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-width: 1.875rem;
        height: 1.875rem;

        background: #6b6b6b;
        color: var(--color-white);
        border-radius: 50%;
      }
    }

    .bottomContentRightSide {
      border: 1px solid var(--color-light-gray-2);
      width: 100%;
      padding: var(--spacing-md);

      .bottomContentIcon {
        width: 1.875rem;
        height: 1.875rem;
        margin-bottom: var(--spacing-xl);
      }

      .bottomContentQuote {
        @extend .body;
        color: var(--color-true-black);
      }
    }
  }
}
